.tableContainer {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-bg-gradient-light);
    margin: 20px 0;
}

.tableWrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
}

.addButton {
    background-color: var(--color-peach);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: auto;
}

.table th, .table td {
    border-bottom: 2px solid var(--color-peach);
    padding: 18px 36px;
    color: white;
}

.table th {
    background-color: var(--color-peach);
    color: white;
    font-size: 18px;
    position: relative;
}

.table td {
    color: var(--color-black-light);
    font-size: 16px;
    text-align: center;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.actionCells {
    justify-content: center;
    align-items: center;
}

.expandButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
    display: flex;
    align-items: center;
    color: white;
}

@media (max-width: 768px) {
    .table {
        min-width: 0;
    }

    .table th, .table td {
        padding: 12px 24px;
    }

    .addButton {
        width: 100%;
        padding: 10px 0;
    }

    .iconButton {
        padding: 10px 15px;
        font-size: 12px;
    }

    .actionButtons {
        display: flex;
    }

    .actionsColumn, .actionCells {
        justify-content: space-around;
        align-items: center;
    }

    .actionCells {
        display: table-cell;
    }

    .collapsed {
        display: none;
    }
}