.myRecipesContainer {
    padding: 20px;
    background-color: var(--color-bg-gradient-light);
    min-height: 100vh;
}

.addButton {
    background-color: var(--color-peach);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px;
}

.recipeList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipeCard {
    align-items: stretch;
    background-color: white;
    display: flex;
    padding: 25px;
    border-radius: 15px;
}

.mainInfoText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    flex-grow: 1;
}

.actionButtons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.editButton, .deleteButton {
    background-color: var(--color-peach-light);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.editButton {
    background-color: var(--color-peach);
}

.deleteButton {
    background-color: var(--color-grey-dark);
}