.myRecipesContainer {
    padding: 20px;
    background-color: var(--color-bg-gradient-light);
    min-height: 100vh;
}

.addNewRecipeButton {
    margin: 0 auto 20px;
}

.recipeList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1600px;
    padding: 0 120px;
    margin: 0 auto;
}

.recipeCard {
    align-items: stretch;
    background-color: white;
    display: flex;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.mainInfoText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    flex-grow: 1;
}

.actionButtons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-peach);
}

.iconButton:hover {
    color: var(--color-peach-dark);
}

@media (max-width: 768px) {
    .recipeList {
        padding: 0 15px;
    }

    .recipeCard {
        flex-direction: column;
        padding: 10px;
    }

    .mainInfoText {
        padding: 5px 0;
    }

    .iconButton {
        font-size: 18px;
    }
}