.ingredientsButton {
    background-color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    color: var(--color-peach);
}

.mainContainer {
    display: flex;
    width: 100%;
    max-width: 1700px;
    flex-direction: column;
    padding: 16px 100px 32px 100px;
    box-sizing: border-box;
    margin: 0 auto;
}

.sortAndFilterButtons {
    display: flex;
    gap: 6px;
    flex-direction: column;
    margin: 20px 0;
}

.recipeGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: stretch;
}

.recipeCardLink {
    width: calc((100% - 96px) / 4);
    text-decoration: none;
    color: inherit;
    display: block;
    height: auto;
}

.recipeCardLinkHidden {
    display: none;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    height: 100%;
}

@media (max-width: 768px) {
    .mainContainer {
        padding: 0 28px;
        gap: 30px;
    }

    .mainContainer .optionButtons {
        gap: 10px;
        flex-direction: column;
    }

    .filterSelectActive {
        z-index: 1;
    }

    .sortButton, .filterButton {
        width: 100%;
        padding: 0.5em;
        font-size: 1em;
    }

    .recipeGrid {
        display: flex;
        flex-direction: column;
    }

    .recipeCardLink {
        width: 100%;
    }

    .recipeCard {
        flex-direction: column;
    }
}
