body {
    --color-peach: #FF4C2E;
    --color-peach-light: #FF9B8B;
    --color-bg-gradient-dark: #FF7D67;
    --color-bg-gradient-light: #F1B4A9;
    --color-grey-dark: #909090;
    --color-grey-light: #B1B1B1;
    --color-black-light: #1d2129;
}