.formInput {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 20px;
  }
  
  .formInput:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-primary);
  }
  
  .invalidInput {
    border-color: red;
    box-shadow: 0 0 0.2em red;
  }

  .errorText {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  
  @media (max-width: 768px) {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      border-radius: 15px;
      padding: 20px 18px;
    }
}