.mainInfoText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.mainInfoText .recipeTitle {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.recipeInfo {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.infoSelect {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }  

.recipeInfoItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.recipeInfoIcon {
    height: 30px;
}

.recipeDescription {
    height: 100px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-weight: 400;
}

@media (max-width: 768px) {
    .mainInfoText {
        gap: 10px;
        padding: 0;
    }

    .recipeInfo {
        gap: 10px;
        flex-direction: column;
    }
}