.recipeGrid {
    width: 100%;
    padding: 0 80px;
    max-width: 1200px;
    overflow: hidden;
}

.slide {
    padding: 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
  }
  
@media (max-width: 768px) {
    .recipeGrid {
        gap: 10px;
        padding: 0 60px;
    }
}
