.checkboxContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .checkboxLabel {
    font-size: 14px;
    color: var(--color-text);
  }

  .invalidCheckbox {
    outline: 1px solid red;
  }
  
  .errorText {
    color: red;
    font-size: 12px;
  }