.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-bg-gradient-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(0);
}

@media (min-width: 769px) {
    .sidebar {
        transform: translateX(0);
    }
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    height: 55px;
    margin-bottom: 30px;
    cursor: pointer;
}

.profileName {
    color: white;
    font-weight: bold;
}

.navLinks { 
    list-style: none;
    width: 100%;
    padding: 0;
}

.navLinks li {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.navLinks li:hover {
    background-color: var(--color-peach-light);
}

.navLinks li.active {
    background-color: var(--color-peach);
}

.menuIcon {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    color: white;
    z-index: 1100;
    display: none;
}

@media (max-width: 768px) {
    .menuIcon {
        display: block;
    }
}