.instructionsContainer {
  flex: 2;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  }

  .instructionsContainer h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
}
  
  .instructionList {
    counter-reset: instruction-counter;
    padding-left: 0;
    list-style-type: none;
  }
  
  .instructionItem {
    counter-increment: instruction-counter;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
  }
  
  .instructionItem::before {
    content: counter(instruction-counter) ".";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
  }
