body {
    min-height: 100vh;
    background: var(--color-bg-gradient-light);
}

.profileEditSection {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileEditSection h1 {
    margin-bottom: 1rem;
}

.profilePhotoContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.profilePhotoContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profileInfoContainer {
    width: 100%;
    margin-bottom: 2rem;
}

.profileInfoContainer label {
    display: block;
    margin-bottom: 0.5rem;
}

.profileEditSection .profileInfoContainer input,
.profileInfoContainer button {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 15px;
}

.profileActions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.profileActions button, .profileActions a {
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.profileActions button.save {
    background-color: #28a745;
    color: white;
}

.profileActions a.signOut {
    text-decoration: none;
    background-color: #ffc107;
    color: white;
}

.profileActions button.deleteAccount {
    background-color: #dc3545;
    color: white;
}

.profileActions button:hover {
    opacity: 0.9;
}

.noValid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}