body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-bg-gradient-light);
  }
  
  .logo {
    height: 40vh;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    gap: 120px;
  }
  
  .back-to-home {
    text-decoration: none;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
  
  .logo-container h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 3.5px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 260px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  
  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    color: var(--color-grey-dark);
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  .forgot-password-link {
    text-decoration: none;
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
    padding: 12px 32px;
    margin-top: 20px;
  }
  
  .submit-button {
    width: 100%;
  }
  
  .no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
  }
  
  @media (max-width: 768px) {
  
    .login-container {
      width: 100%;
      display: block;
    }
  
    .logo-container, .form-container {
      width: 100%;
      padding: 20px;
      gap: 10px;
    }
  
    .logo {
      display: block;
      max-height: 200px;
    }
  
    .login-form {
      gap: 20px;
      padding: 0 20px;
    }
  
    input[type="text"], input[type="password"], input[type="email"] {
      border-radius: 15px;
      padding: 20px 18px;
    }
  
    .checkbox-container {
      gap: 5px;
    }
  
    .submit-button {
      padding: 15px 30px;
      border-radius: 15px;
    }
  
    .forgot-password-link {
      margin-top: 15px;
    }
  }