header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 28px;
}

.headerButtons {
    display: flex;
    gap: 8px;
}

.logo {
    height: 35px;
}

.profile, .addRecipeIcon {
    filter: invert(1);
    height: 35px;
}

@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        gap: 30px 0;
    }

    .header-buttons {
        order: 2;
    }
}